﻿body {
    
    padding-top: 10px;
    
}

.lightheader {
    color: white;
    padding: 10px;
    background-color: lightcoral;
}

.lightitem {
    color: white;
    background-color: lightblue;
    margin-left: 10px;
}

