﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Assignment2aN01137684._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Web Develpment</h1>
        <%--Got the content from Wikipedia--%>
        <p class="lead">
            Web development is the work involved in developing a web site for the Internet or an intranet. Web development can range 
            from developing a simple single static page of plain text to complex web-based internet applications electronic businesses, 
            and social network services.
        </p>
    </div>

    <img class="img-thumbnail" src="images/wd.png" alt="DB" />
</asp:Content>
<asp:Content ID="Links" ContentPlaceHolderID="Links" runat="server">
</asp:Content>
<asp:Content ID="CodeEx" ContentPlaceHolderID="ExCode" runat="server">
</asp:Content>
<asp:Content ID="CodeExExplain" ContentPlaceHolderID="logoOfContent" runat="server">
</asp:Content>
