﻿<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2aN01137684.usercontrol.CodeBox" %>
            
<asp:DataGrid ID="code_container" runat="server" skinID="codedataGrid">
</asp:DataGrid>

